* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  background: white;
  padding: 10px 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

.btn {
  padding: 15px 25px;
  background: tomato;
  color: white;
  border: 1px solid tomato;
  border-radius: 90px;
}

.hero {
  height: 89vh;
  background: url(../assests/imgs/Snapchat-1695140885.jpg);
  background-size: cover;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.548);
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
}

.flex1 {
  width: 45%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  font-size: 50px;
  text-transform: capitalize;
}

.sub {
  font-size: 18px;
  margin-top: 10px;
}

.flex2 {
  background: rgba(0, 0, 0, 0.479);
  width: 32%;
  height: 300px;
  padding: 0px 15px;
}

.sign {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 5px 15px;
}

.fa-laptop {
  font-size: 40px;
}

.up {}

.sign {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 5px 15px;
}

.fa-user {
  font-size: 50px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0px;
  border: 1px solid white;
  outline: none;
}

.btn1 {
  width: 100%;
  padding: 15px 5px;
  box-sizing: border-box;
  background: tomato;
  color: white;
  outline: none;
}

.foot {
  display: flex;
  margin-top: -5px;
  align-items: center;
}

.fa-house {
  color: orange;
}

.hub {
  color: white;
  padding-left: 5px;
  font-size: 14px;
}

.spot {
  text-decoration: none;
  color: aqua;
}

.end {
  height: 89vh;
  background-color: white;
  background-size: cover;
}

.pages {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
}

.para1 {
  width: 45%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.design {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 100px;
  padding: 0px 15px;
}

.pep {
  font-size: 15px;
  margin-top: 30px;
  padding: 10px 0px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.bnt {
  padding: 15px 25px;
  margin: 20px 25px;
  background: tomato;
  color: white;
  border: 1px solid tomato;
  border-radius: 90px;
}

.call {
  width: 105%;
}